body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family: メイリオ, Meiryo, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #ffffff;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.popup {
  position: absolute;
  top: -85%;
  left: 50%;
  width: 320px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #333333;
  z-index: 2;
  transition: all 0.5s;
}

.show {
  top: 80%;
}

.popup > p {
  font-weight: normal;
  line-height: 1.5;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
}

.btn-flex-center {
  display: flex;
  justify-content: center;
}

.popup-btn {
  width: 100px;
  text-align: center;
  padding: 12px 25px;
  background-color: #333333;
  color: rgb(59, 54, 54);
  cursor: pointer;
  user-select: none;
}

.popup-btn {
  background-color: #333333;
  color: #ffffff;
  user-select: none;
}

.count-timer {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  text-shadow: #ffffff 1px 1px 0px, #ffffff -1px 1px 0px, #ffffff 1px -1px 0px,
    #ffffff -1px -1px 0px;
}

button {
  border: 0;
  background: none;
  outline: none;
  padding: 0;
  appearance: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 10px 25px;
}

.start-btn {
  color: #3636ff;
  border: 1px solid #3636ff;
}

.stop-btn {
  color: #43bd05;
  border: 1px solid#43bd05;
}

.reset-btn {
  color: #f74d3c;
  border: 1px solid#f74d3c;
}
